/**
*Building my portfolio
**/


.box{
    box-sizing: border-box;
    text-align: center;   
    background-color: #cccccc;
}

.header{
    background-color: #ffffff;
    text-align: center;
    width: 960px;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 2px;
    
}
#Your-name{
    background-color: teal;
    border: 1px solid #cccccc;
    width: 140px;
    height: 30px;
    padding: 20px 20px 20px 20px ;
    margin-left: 220px;
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    float: left;   
}
#Contact-header{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: -260; 
    padding: 6px 9px 9px 6px ;
    float: right;
}
#About{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: -80px; 
    padding: 6px 5px 9px 11px  ;
    float: right;
}
#Portfolio{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: -160px; 
    padding: 6px 6px 9px 12px ;
    float: right;
}
#Contact{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-right: -240px; 
    padding: 6px 9px 9px 6px ;
    float: right;
}
.container{ 
    clear: both; 
    width: 100%; 
    height: 815px;
    background-color: #cccccc;
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
}
.content{
  
    width: 960px;
    height: 420px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px; 
    margin-left: 220px;
    margin-right: 200px;
    line-height: 100%;
}
#h1{
    color: teal;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: #cccccc solid 0.5px;
    margin: 20px;
}

.footer{
    width: 1423px;
    height: 7px;
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 5px; 
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 10px;
    font-size: 10px;
    color: #cccccc; 
    margin-top: 340px;
    margin-left:-250px; 
     
  
}